.header {
  width: 100%;
  position: relative;
  z-index: 500;

  display: flex;
  justify-content: center;
  transition: margin-top var(--fx-duration) var(--fx-ease);
}

.header--search-mode {
  margin-top: 30vh;
}

.header--results-mode {
  margin-top: 80px;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: var(--layout-max-w);
  margin: 0 auto;

  padding: 0 16px;
  gap: 20px;
}

.header__location-wrapper {
  flex-shrink: 0;
}

.header__search-wrapper {
  position: relative;
  max-width: 540px;

  flex: 1;
  z-index: 100;
}

.header__submit-wrapper {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .header--results-mode {
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .header__container {
    gap: 8px;
    padding: 0 10px;
  }

  .header--search-mode {
    margin-top: 20vh;
  }
}
