.search-box {
  width: 100%;

  display: flex;
  align-items: center;
}

.search-box__input {
  width: 100%;
  background-color: var(--tile-base);
  color: var(--ink-solid);

  font-size: 16px;
  padding: 14px 24px;

  border: 2px solid transparent;
  border-radius: var(--ui-radius-pill);
  outline: none;
  box-shadow: var(--elevation-low);

  transition: all var(--fx-duration);
}

.search-box__input:focus {
  border-color: var(--brand-core);
  box-shadow: var(--elevation-high);
}

.search-box__input::placeholder {
  color: var(--ink-faint);
}
